<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-BaiduMap" version="0.5.0">
    <name>BaiduMapMark</name>
    <description>BaiduMap Mark plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, phonegap, geolocation, BaiduMap Mark</keywords>
    <repo>https://github.com/offbye/cordova-plugin-baidumapmark.git</repo>
    <issue>https://github.com/offbye/cordova-plugin-baidumapmark/issues</issue>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/baidumap.js" name="BaiduMapMark">
        <clobbers target="BaiduMapMark" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <hook type="after_plugin_install" src="hooks/add_swift_support.js" />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>${EXECUTABLE_NAME} Would Like to Use Your Current Location Even In Background.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>${EXECUTABLE_NAME} Would Like to Use Your Current Location When In Use.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>
        <config-file target="config.xml" parent="/*">
          <feature name="BaiduMapPlugin">
            <param name="ios-package" value="HWPBaiduMapPlugin"/>
          </feature>
        </config-file>
        <header-file src="src/ios/BaiduMap-Bridging-Header.h" />
        <source-file src="src/ios/BaiduMapPlugin.swift"/>
        <source-file src="src/ios/BaiduMapViewController.swift"/>
        <resource-file src="src/ios/baidumapmark.bundle"/>

        <!--以下是百度地图SDK文件，请到百度lbs云官网更新版本-->
        <resource-file src="src/ios/mapapi.bundle"/>
        <framework src="src/ios/BaiduMapAPI_Base.framework" custom="true"/>
        <framework src="src/ios/BaiduMapAPI_Map.framework" custom="true"/>
        <framework src="src/ios/BaiduMapAPI_Cloud.framework" custom="true"/>
        <framework src="src/ios/BaiduMapAPI_Location.framework" custom="true"/>
        <framework src="src/ios/BaiduMapAPI_Radar.framework" custom="true"/>
        <framework src="src/ios/BaiduMapAPI_Search.framework" custom="true"/>
        <framework src="src/ios/BaiduMapAPI_Utils.framework" custom="true"/>

    </platform>
</plugin>
